.left {
  width: 0;
  height: 0;
  border-top: 15px solid #ccc;
  border-right: 450px solid transparent;
  position: absolute;
  top: 100%;
  left: 1px;
}

.right {
  width: 0;
  height: 0;
  border-top: 15px solid #ccc;
  border-left: 450px solid transparent;
  position: absolute;
  top: 100%;
  right: 1px;
}
