/* .owl-prev {
  position: absolute;
  left: -4.5%;
  top: 36%;
  font-size: 75px !important;
}
.owl-next:focus,
.owl-prev:focus {
  outline: none;
}
.owl-next {
  font-size: 75px !important;
  position: absolute;
  right: -4.5%;
  top: 36%;
}
@media only screen and (max-width: 600px) {
  .Ba_nn_ErImg {
    height: unset;
  }
}
@media only screen and (min-width: 769px) {
  .Ba_nn_ErImg {
    height: 485px;
  }
} */
